---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'></script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="{{ site.blog_url }}"><font color="white">{{ site.title | default: site.github.repository_name }}</font></a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      
        <a class="btn" href="{{site.github_url}}">GitHub</a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
          <span class="site-footer-owner"><a href="{{ site.blog_url }}">WangChuArc's Github</a>.</span>
      </footer>
    </section>

  </body>
</html>
